<%- include('partials/header'); %>

<section class="text-gray-500 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-white">
        Orders History
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        Banh mi cornhole echo park skateboard authentic crucifix neutra tilde
        lyft biodiesel artisan direct trade mumblecore 3 wolf moon twee
      </p>
    </div>
    <div class="lg:w-2/3 w-full mx-auto overflow-auto">
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
          <tr>
            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tl rounded-bl"
            >
              Name
            </th>

            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800"
            >
              Product
            </th>
            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800"
            >
              Qty
            </th>
            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800"
            >
              Tot Order
            </th>
            <th
              class="w-10 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tr rounded-br"
            ></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="px-4 py-3">Jonh Doe</td>
            <td class="px-4 py-3">Airpods</td>
            <td class="px-4 py-3">1</td>
            <td class="px-4 py-3 text-lg text-white">$199</td>
            <td class="px-4 py-3">
              <a
              href="#"
                class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"
              >
                Details
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto">
      <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0"
        >Learn More
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-4 h-4 ml-2"
          viewBox="0 0 24 24"
        >
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
      <button
        class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"
      >
        Button
      </button>
    </div>
  </div>
</section>
<!-- TODO: Define Dashboard -->

<!--

    As an admin, I want to: 
        - Change my color theme
        - Check the orders
        

-->

<%- include('partials/footer'); %>
