<%- include('partials/header'); %>

<h1>Welcome to your Dashboard.</h1>

<!-- TODO: Define Dashboard -->

<!--

    As an admin, I want to: 
        - Change my color theme
        - Check the orders
        

-->

<%- include('partials/footer'); %>
